* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  background: black;
  color: white;
}

.jay {
  position: relative;
  height: 100vh;
  background-image: url("https://www.si.com/.image/t_share/MjA0NjUwMDM0NDcyNDI5MTU3/red-bull.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-image 0.8s ease-in-out;
}

.jay-overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
}

.jay-content {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  z-index: 2;
}

.jay-content h1 {
  font-size: clamp(2rem, 6vw, 4.5rem);
  letter-spacing: 0.3em;
}

.jay-content p {
  margin-top: 1rem;
  letter-spacing: 0.2em;
  opacity: 0.8;
}

#carImage {
  margin-top: 2rem;
  max-width: 60%;
  opacity: 0;
  transform: scale(0.98);
  transition: opacity 0.8s ease, transform 0.8s ease;
}

#carImage.show {
  opacity: 1;
  transform: scale(1);
}

#startBtn {
  margin-top: 1.5rem;
  padding: 1rem 2rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold; 
  border: 1px solid black;
    background: white;
    border-radius: 10px;
}

.jay {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  transition: background-image 0.8s ease-in-out;
}

.car-item {
  width: 100%;
  max-width: 420px;
  margin: 0 auto 6rem;

  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.car-item.show {
  opacity: 1;
  transform: translateY(0);
}

.car-item img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  display: block;
}


.car-item p {
  margin-top: 1rem;
  font-size: 0.9rem;
  letter-spacing: 0.15em;
  text-align: center;
  opacity: 0.8;
}

#carList {
  display: none ;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem 3rem; 
  max-width: 1000px;
  margin: 0 auto;
}

#moreText {
  opacity: 0;
  visibility: hidden;
  transform: translateY(20px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}
